$principal-background-color: #080808;

@mixin mobile {
    @media screen and (max-width: 649px){
        @content;
    }
}

@mixin tab {
    @media screen and (max-width: 1200px) and (min-width: 650px){
        @content;
    }
}

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: $principal-background-color;
}
.nav__list
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 50px;
    background-color: darken($color: $principal-background-color, $amount: 10);
    margin-bottom: 40px;
    &__items {
        font-family: Arial, Helvetica, sans-serif;
        line-height: 50px;
        color: lighten($color: $principal-background-color, $amount: 50);
        list-style-type: none;
        &:hover {
            color: darken($color: $principal-background-color, $amount: 25);
            background-color: lighten($color: $principal-background-color, $amount: 25);
        }
    }
}

.categories
{
    display: flex;
    flex-direction: column;
    align-items: center;
    &__category{
        margin-bottom: 10px;
        flex: 1 1 auto;
        &__title {
            font-family: Arial, Helvetica, sans-serif;
            display: block;
            width: 100%;
            color: lighten($color: $principal-background-color, $amount: 90);
            margin: 10px;
        }

        &__carousel {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            width: 1050px;
            height: 250px;
            @include tab {
                width: 600px;
                &__movie {
                    &:nth-of-type(n+4){
                        display: none;
                    }
                }
            }
            @include mobile {
                width: 450px;
                &__movie{
                    &:nth-of-type(n+3){
                        display: none;
                    }
                }
            }
            &__movie{
                cursor: pointer;
                width: 150px;
                &:nth-of-type(n+7){
                    display: none;
                }
                &:hover{
                    border: 1px solid red;
                    width: 165px;
                }

            }
            &__arrow-button{
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50px;
                height: 221px;
                &:hover {
                    background-color: rgba(lighten($color: $principal-background-color, $amount: 25), .5);
                    border: 1px solid #fff;
                }
                &:nth-of-type(2){
                    order:7;
                }
                &:nth-child(1){
                    order: 0;
                }
                div {
                    color:#fff;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 40px;
                    font-weight: 400;
                    line-height: 100px;
                    &:hover{
                        font-size: 50px;
                    }
                }
            }
        }
    }
    &__best-movie {
        display: flex;
        align-items: stretch;
        justify-content: stretch;
        width: 1050px;
        margin-bottom: 20px;
        order:0;
        &:hover{
            cursor: pointer;
            width: 1100px;
            border: 1px solid red;
            img {
                width: 275px;
            }
            div {
                height: 220px;
            }
        }
        &__poster{
            flex-shrink: 0;
            width: 250px;
        }
        @include tab{
            width: 600px;
            &__poster{
                width: 200px;
            }
            &:hover{
                width: 650px;
                img {
                    width: 200px;
                }
                div {
                    height: 220px;
                }
            }
        }
        @include mobile{
            width: 450px;
            &__poster{
                width: 150px;
            }
            &:hover{
                width: 500px;
                img {
                    width: 175px;
                }
            }
            div {
                height: 220px;
            }
        }
    }
}
.categories__best-movie__description{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    h1 {
        color: lighten($color: $principal-background-color, $amount: 90);
    }
    p {
        color: lighten($color: $principal-background-color, $amount: 90);
        font-weight: 600;
        span {
            font-size: 20px;
        }
    }
    height: 200px;
}

.movie-details{
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    color:lighten($color: $principal-background-color, $amount: 90);
    width: 100%;
    div{
        flex-grow: 1;
    }
    &__return-button{
        p{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 40px;
            font-weight: 600;
        }
    }
    &__movie{
        flex-grow: 0;
        width: 1100px;
        display:flex;
        justify-content: stretch;
        align-items: stretch;
        &__poster{
            width: 400px;
        }
        &__description{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
    }
}
